<h1> COVID-19 Data Extraction</h2>

Import the required modules and load the url

In [1]:
import pandas as pd
url1='https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
df = pd.read_csv(url1, error_bad_lines=False)
df

,Province/State,Country/Region,Lat,Long,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,...,4/12/2020,4/13/2020,4/14/2020,4/15/2020,4/16/2020,4/17/2020,4/18/2020,4/19/2020,4/20/2020,4/21/2020
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,607,665,714,784,840,906,933,996,1026,1092
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,446,467,475,494,518,539,548,562,584,609
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,1914,1983,2070,2160,2268,2418,2534,2629,2718,2811
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,638,646,659,673,673,696,704,713,717,717
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,19,19,19,19,19,19,24,24,24,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Saint Pierre and Miquelon,France,46.885200,-56.315900,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
260,NaN,South Sudan,6.877000,31.307000,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4
261,NaN,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
262,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4
263,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1

Data wrangling to obtain the required dataframe ie., the list of confirmed cases in all countries on all the dates

In [2]:
df_conf=df.drop(columns=["Province/State","Lat","Long"])
df_conf=df_conf.groupby(df_conf["Country/Region"]).sum()
df_conf.reset_index(inplace=True)
df_conf

,Country/Region,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,...,4/12/2020,4/13/2020,4/14/2020,4/15/2020,4/16/2020,4/17/2020,4/18/2020,4/19/2020,4/20/2020,4/21/2020
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,607,665,714,784,840,906,933,996,1026,1092
1,Albania,0,0,0,0,0,0,0,0,0,...,446,467,475,494,518,539,548,562,584,609
2,Algeria,0,0,0,0,0,0,0,0,0,...,1914,1983,2070,2160,2268,2418,2534,2629,2718,2811
3,Andorra,0,0,0,0,0,0,0,0,0,...,638,646,659,673,673,696,704,713,717,717
4,Angola,0,0,0,0,0,0,0,0,0,...,19,19,19,19,19,19,24,24,24,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,West Bank and Gaza,0,0,0,0,0,0,0,0,0,...,290,308,308,374,374,402,418,437,449,466
181,Western Sahara,0,0,0,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
182,Yemen,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
183,Zambia,0,0,0,0,0,0,0,0,0,...,43,45,45,48,48,52,57,61,65,70
184,Zimbabwe,0,0,0,0,0,0,0,0,0,...,14,17,17,23,23,24,25,25,25,28

In [3]:
df_conf=df_conf.transpose()
a=df_conf.iloc[0]
df_conf.columns=a
df_conf=df_conf.drop(index=["Country/Region"])
df_conf=df_conf.reset_index(inplace=False)
df_conf=df_conf.rename(columns={"index":"Date"}) 
countries=list(df_conf.columns)
countries=countries[1:len(countries)]
countries

['Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burma',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Congo (Brazzaville)',
 'Congo (Kinshasa)',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Diamond Princess',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Holy See',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Korea, South',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'MS Zaandam',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan*',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'US',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'Uruguay',
 'Uzbekistan',
 'Venezuela',
 'Vietnam',
 'West Bank and Gaza',
 'Western Sahara',
 'Yemen',
 'Zambia',
 'Zimbabwe']

Confirmed Cases Data and storing it into excel sheet

In [4]:
df_conf.insert(1,"World",df_conf[countries].sum(axis=1))
df_conf.to_excel("Data_Confirmed.xls")
df_conf

Country/Region,Date,World,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
0,1/22/2020,555.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1/23/2020,654.0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
2,1/24/2020,941.0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
3,1/25/2020,1434.0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
4,1/26/2020,2118.0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,4/17/2020,2240190.0,906,539,2418,696,19,23,2669,1201,...,109769,502,1405,204,268,402,6,1,52,24
87,4/18/2020,2317758.0,933,548,2534,704,24,23,2758,1248,...,115314,508,1490,227,268,418,6,1,57,25
88,4/19/2020,2401378.0,996,562,2629,713,24,23,2839,1291,...,121172,517,1565,256,268,437,6,1,61,25
89,4/20/2020,2472258.0,1026,584,2718,717,24,23,2941,1339,...,125856,535,1627,256,268,449,6,1,65,25
90,4/21/2020,2561043.0,1092,609,2811,717,24,23,3031,1401,...,130172,535,1678,285,268,466,6,1,70,28

Extracting the daily new cases confirmed from the total cases dataset and storing it in excel sheet

In [5]:
df_new_conf=df_conf[countries].diff()
df_new_conf.iloc[0]=df_conf[countries].iloc[0]
df_new_conf.insert(0,"Date",df_conf["Date"])
df_new_conf.insert(1,"World",df_new_conf[countries].sum(axis=1))
df_new_conf.to_excel("Data_New_Confirmed.xls")
df_new_conf

Country/Region,Date,World,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
0,1/22/2020,555.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1/23/2020,99.0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
2,1/24/2020,287.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1/25/2020,493.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1/26/2020,684.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,4/17/2020,87753.0,66,21,150,23,0,0,98,42,...,5624,0,56,0,0,28,0,0,4,1
87,4/18/2020,77568.0,27,9,116,8,5,0,89,47,...,5545,6,85,23,0,16,0,0,5,1
88,4/19/2020,83620.0,63,14,95,9,0,0,81,43,...,5858,9,75,29,0,19,0,0,4,0
89,4/20/2020,70880.0,30,22,89,4,0,0,102,48,...,4684,18,62,0,0,12,0,0,4,0
90,4/21/2020,88785.0,66,25,93,0,0,0,90,62,...,4316,0,51,29,0,17,0,0,5,3

Repeating the above process to obatin the total and daily death reported and storing them in an excel file

In [6]:
url2='https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
df = pd.read_csv(url2, error_bad_lines=False)
df_death=df.drop(columns=["Province/State","Lat","Long"])
df_death=df_death.groupby(df_death["Country/Region"]).sum()
df_death.reset_index(inplace=True)
df_death=df_death.transpose()
a=df_death.iloc[0]
df_death.columns=a
df_death=df_death.drop(index=["Country/Region"])
df_death=df_death.reset_index(inplace=False)
df_death=df_death.rename(columns={"index":"Date"})
df_death.insert(1,"World",df_death[countries].sum(axis=1))
df_death.to_excel("Data_Deaths.xls")


df_new_deaths=df_death[countries].diff()
df_new_deaths.iloc[0]=df_death[countries].iloc[0]
df_new_deaths.insert(0,"Date",df_conf["Date"])
df_new_deaths.insert(1,"World",df_new_deaths[countries].sum(axis=1))
df_new_deaths.to_excel("Data_New_Deaths.xls")

Extracting the total and daily recoverries data and storing them in an excel file

In [7]:
url3='https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'
df = pd.read_csv(url3, error_bad_lines=False)
df_recov=df.drop(columns=["Province/State","Lat","Long"])
df_recov=df_recov.groupby(df_recov["Country/Region"]).sum()
df_recov.reset_index(inplace=True)
df_recov=df_recov.transpose()
a=df_recov.iloc[0]
df_recov.columns=a
df_recov=df_recov.drop(index=["Country/Region"])
df_recov=df_recov.reset_index(inplace=False)
df_recov=df_recov.rename(columns={"index":"Date"})
df_recov.insert(1,"World",df_recov[countries].sum(axis=1))
df_recov.to_excel("Data_Recovered.xls")

df_new_recov=df_recov[countries].diff()
df_new_recov.iloc[0]=df_recov[countries].iloc[0]
df_new_recov.insert(0,"Date",df_conf["Date"])
df_new_recov.insert(1,"World",df_new_recov[countries].sum(axis=1))
df_new_recov.to_excel("Data_New_Recover.xls")

Handling the sorted data.
The above data has collection of information for all the countries with cases recorded. We can extract information based on our interest.

In [8]:
print("Total Confirmed Cases")
df_conf[["Date","World","China","Australia","US","India"]]

Total Confirmed Cases

Country/Region       Date      World  China Australia      US  India
0               1/22/2020      555.0    548         0       1      0
1               1/23/2020      654.0    643         0       1      0
2               1/24/2020      941.0    920         0       2      0
3               1/25/2020     1434.0   1406         0       2      0
4               1/26/2020     2118.0   2075         4       5      0
..                    ...        ...    ...       ...     ...    ...
86              4/17/2020  2240190.0  83760      6522  699706  14352
87              4/18/2020  2317758.0  83787      6547  732197  15722
88              4/19/2020  2401378.0  83805      6547  759086  17615
89              4/20/2020  2472258.0  83817      6547  784326  18539
90              4/21/2020  2561043.0  83853      6547  823786  20080

[91 rows x 6 columns]

In [9]:
print(" Daily Confirmed Cases")
df_new_conf[["Date","World","China","Australia","US","India"]]

 Daily Confirmed Cases

Country/Region       Date    World China Australia     US India
0               1/22/2020    555.0   548         0      1     0
1               1/23/2020     99.0    95         0      0     0
2               1/24/2020    287.0   277         0      1     0
3               1/25/2020    493.0   486         0      0     0
4               1/26/2020    684.0   669         4      3     0
..                    ...      ...   ...       ...    ...   ...
86              4/17/2020  87753.0   357        60  32114   922
87              4/18/2020  77568.0    27        25  32491  1370
88              4/19/2020  83620.0    18         0  26889  1893
89              4/20/2020  70880.0    12         0  25240   924
90              4/21/2020  88785.0    36         0  39460  1541

[91 rows x 6 columns]

In [10]:
print("Total Deaths Reorted")
df_death[["Date","World","China","Australia","US","India"]]

Total Deaths Reorted

Country/Region       Date     World China Australia     US India
0               1/22/2020      17.0    17         0      0     0
1               1/23/2020      18.0    18         0      0     0
2               1/24/2020      26.0    26         0      0     0
3               1/25/2020      42.0    42         0      0     0
4               1/26/2020      56.0    56         0      0     0
..                    ...       ...   ...       ...    ...   ...
86              4/17/2020  153835.0  4636        66  36787   486
87              4/18/2020  159509.0  4636        67  38664   521
88              4/19/2020  165043.0  4636        67  40661   559
89              4/20/2020  169985.0  4636        67  42094   592
90              4/21/2020  176983.0  4636        67  44845   645

[91 rows x 6 columns]

In [11]:
print("Daily Deaths Reorted")
df_new_deaths[["Date","World","China","Australia","US","India"]]

Daily Deaths Reorted

Country/Region       Date    World China Australia    US India
0               1/22/2020     17.0    17         0     0     0
1               1/23/2020      1.0     1         0     0     0
2               1/24/2020      8.0     8         0     0     0
3               1/25/2020     16.0    16         0     0     0
4               1/26/2020     14.0    14         0     0     0
..                    ...      ...   ...       ...   ...   ...
86              4/17/2020  10021.0  1290         3  3857    38
87              4/18/2020   5674.0     0         1  1877    35
88              4/19/2020   5534.0     0         0  1997    38
89              4/20/2020   4942.0     0         0  1433    33
90              4/21/2020   6998.0     0         0  2751    53

[91 rows x 6 columns]

In [12]:
print("Total Recoveries")
df_conf[["Date","World","China","Australia","US","India"]]

Total Recoveries

Country/Region       Date      World  China Australia      US  India
0               1/22/2020      555.0    548         0       1      0
1               1/23/2020      654.0    643         0       1      0
2               1/24/2020      941.0    920         0       2      0
3               1/25/2020     1434.0   1406         0       2      0
4               1/26/2020     2118.0   2075         4       5      0
..                    ...        ...    ...       ...     ...    ...
86              4/17/2020  2240190.0  83760      6522  699706  14352
87              4/18/2020  2317758.0  83787      6547  732197  15722
88              4/19/2020  2401378.0  83805      6547  759086  17615
89              4/20/2020  2472258.0  83817      6547  784326  18539
90              4/21/2020  2561043.0  83853      6547  823786  20080

[91 rows x 6 columns]

In [13]:
print("Daily Recoveries")
df_new_conf[["Date","World","China","Australia","US","India"]]

Daily Recoveries

Country/Region       Date    World China Australia     US India
0               1/22/2020    555.0   548         0      1     0
1               1/23/2020     99.0    95         0      0     0
2               1/24/2020    287.0   277         0      1     0
3               1/25/2020    493.0   486         0      0     0
4               1/26/2020    684.0   669         4      3     0
..                    ...      ...   ...       ...    ...   ...
86              4/17/2020  87753.0   357        60  32114   922
87              4/18/2020  77568.0    27        25  32491  1370
88              4/19/2020  83620.0    18         0  26889  1893
89              4/20/2020  70880.0    12         0  25240   924
90              4/21/2020  88785.0    36         0  39460  1541

[91 rows x 6 columns]